<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
  <%- include('./partials/nav') %>

  <form method="POST" action="/signup">

    <br><br>
    <div class="row mb-3">
        
        <label for="inputName1" class="col-sm-2 col-form-label">FullName</label>
        <div class="col-sm-10">
          <input type="text" required name="FullName" class="form-control" id="inputEmail3">
    </div><br><br>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" required name="email" class="form-control" id="inputEmail3">
      </div>
    </div><br>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" required name="password" class="form-control" id="inputPassword3">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" style="width: 9%;">Sign Up</button>
    </form>

  <%- include('./partials/script') %>
</body>
</html>